/* Core site styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

i {
    color: black;
}

/* Header styling */

#navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background-color:#b186e3;

}

#logo {
    flex-grow: 1;
    width: 75%;
    padding-left: 5px;       
}

#log-status {
    width: 25%;
    text-align: center;    
}

.search-bar {
    margin: 5px;
    width: 80%;
}

#search {
    width: 100%;
    height: 35px;
    border-radius: 25px;
    background-color: #e0cff4;
}

/* Homepage styling */ 

#homepage {
    padding-top: 100px;

}

#home-wrapper {
    padding: 10px;
}

#subject-filter,
#activity-thread {
    display: none;
}

.posts {
    padding: 5px 0  5px 0;
}

/* Log In/Out Form Styling */

.logon-out {
    display: block;
    padding-top: 100px;
}



/* Footer styling */

footer {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 75px;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background-color:#b186e3;
