@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

/* Core global site styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header,
body,
footer {
    font-family: Fredoka, sans-serif;
}

button {
   background-color: lightgreen;
   border-radius: 25px;
   height: 40px;
   width: 150px;
}

/* Header styling */

#navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background-color:#b186e3;

}

#logo {
    flex-grow: 1;
    width: 75%;
    padding-left: 5px;       
}

#log-status {
    width: 25%;
    text-align: center;    
}

.search-bar {
    margin: 5px;
    width: 80%;
}

#search {
    width: 100%;
    height: 35px;
    border-radius: 25px;
    background-color: #e0cff4;
}

/* Shared Home & Thread page styling */ 

#homepage,
#open-threads {
    padding-top: 100px;

}

/* Homepage styling */

#home-wrapper,
#thread-counter {
    padding: 10px 10px 10px 20px;
}

#subject-filter,
#activity-thread {
    display: none;
}

#activity-header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px 0 10px 0;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 10px 0;
}

.thread-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.posts {
    padding: 5px 0  5px 0;
}

/* Thread Window styling */

#open-threads {
    display: flex;
    flex-direction: column;
}

.thread-container,
.droners {
    display: flex;
    flex-direction: column;
    padding: 10px 5px 5px 10px;
}

.thread-details {
    padding-bottom: 10px;
}

.thread-details h1 {
    padding-bottom: 5px;
}

.comment-input {
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
    padding: 10px;
    width: 100%;
}

#post-list {
    padding-top: 10px;
}

#comment-details {
    padding-top: 10px;
    padding-bottom: 10px;
}

#comment-author,
#comment-body {
    padding-bottom: 5px;
}


/* Log In/Out Form Styling */

.logon-out {
    display: block;
    padding-top: 100px;
    height: 100vh;

}

#logon {
    height: 100vh;
    padding-top: 100px;
} 

.form-input {
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
    padding: 10px;
    width: 80%;
}

.form-input:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
}

label {
    padding: 10px;
}

.login-btn,
.reg-btn {
    margin: 10px;
    height: 30px;
    border-radius: 5px;    
}

.login-btn {
    width: 50px;
}

#logform,
#regform {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;
    margin:auto;
    justify-content: center
}

/* Registration Form Styling */

.reg-btn {
    width: 150px;
}

#reg-btn {
    display: flex;
    justify-content: center;
}

#register {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-input-group {
    padding: 5px;
}


#not-reg,
#already-reg,
#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20 px;
}

#not-reg h3,
#already-reg h3 {
    padding: 20px;
}

/* Create Thread styling */

#create-thread {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#new-thread {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.create-input-group {
    padding: 5px;
}

/* Delete Confirmation styling */

#delete-confirm {
    height: 100vh;
    display: flex;
}

.delete-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-delete {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#form-delete h2 {
    text-align: center;
}

#form-delete input,
#form-delete a {
    padding: 10px;
}


/* Footer styling */

footer {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 75px;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background-color:#b186e3;
}

/* Media Queries  - Screens over 800 px wide */

@media screen and (min-width: 800px) {

    #open-threads {
        flex-direction: row;
    }

    .thread-container {
        padding-left: 20px;
    }

    .droners {
        padding-right: 20px;
    }

}

/* Media Queries  - Screens over 900 px wide */

@media screen and (min-width: 900px) {

    .subject-filter-btn {
        display: none;
    }

    #home-wrapper {
        display: grid;
        grid-template-columns: 20% 60% 20%;
    }

    #subject-filter,
    #activity-thread {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .subject-filter h3 {
        padding-top: 10px;
    }

    .posts {
        padding: 5px 10px 5px 20px;
    }

    #activity-details {
        padding: 5px 0 5px 0;
    }

    #activity-details p {
        padding-bottom: 5px;
    }

}
