@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Source+Sans+Pro&display=swap');
/* Core global site styling */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Source-Sans-Pro, sans-serif;
    font-weight: 600;
    line-height: 1.5;
    color: #C9E4CA;
    
}

header,
footer {
    background-color: #364958;
}


button {
   background-color: #ff5400;
   font-family: Source-Sans-Pro, sans-serif;
   font-weight: 600;
   border-radius: 25px;
   height: 40px;
   width: 150px;
}

::placeholder {
    color: #C9E4CA;
    font-family: Source-Sans-Pro, sans-serif;
    font-weight: 600;
    line-height: 1.5;
}

/* Header styling */

#navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 110px;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    background-color: #364958;
}

#logo {
    flex-grow: 1;
    padding-left: 5px;       
}

#log-status {
    width: 15%;
    text-align: center;    
}

#log-status h4,
#log-status a {
    font-family: Orbitron, sans-serif;
}
.search-bar {
    margin: 5px;
    width: 60%;
    color: #C9E4CA;
}

#search {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    background-color: #55828B;
}

/* Shared Home & Thread page styling */ 

#homepage,
#open-threads {
    padding-top: 110px;
    background-color: #55828B;
}

/* Homepage styling */

#home-wrapper,
#thread-counter {
    padding: 10px 10px 10px 20px;
}

#subject-filter,
#activity-thread {
    display: none;
}

.subject-filter h4 {
    padding: 10px 0 10px 0;
}

.subject-filter a:hover {
    color: black;
}

#activity-header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 0 10px 0;
}

#thread-counter h3,
#subject-filter h2,
#activity-header h2 {
    font-family: Orbitron, sans-serif;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0 10px 0;
}

#mobile-browse-btn,
#create-thread-btn {
    font-family: Orbitron, sans-serif;
}

.thread-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#thread-window {
    margin-left: 5px;
}

.posts {
    padding: 5px 0  5px 5px;
    border: 2px solid #ff5400;
    border-radius: 10px;
}

.post-title a {
    text-decoration: none;
    color: #ff5400;
    font-family: Orbitron, sans-serif;
}

.post-title a:hover {
    color: black;
}

.post-detail,
.thread-option {
    margin-left: 10px;
}

.thread-option a {
    color: black;
}

.thread-option a:hover {
    color: #ff5400;
}

/* Thread Window styling */

#open-threads {
    display: flex;
    flex-direction: column;
}

.thread-container {
    height: 100vh;
}

.thread-container,
.droners {
    display: flex;
    flex-direction: column;
    padding: 10px 5px 5px 10px;
}

.thread-details {
    padding-bottom: 10px;
}

.thread-details h1 {
    padding-bottom: 5px;
    color: #ff5400;
    font-family: Orbitron, sans-serif;
}

#comment-header h2,
.droners h2 {
    color: #ff5400;
    font-family: Orbitron, sans-serif;
}

.comment-input {
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
    padding: 10px;
    width: 100%;
    color: black;
}

input[class^="comment-input"]::placeholder {
    color: black;
}

#post-list {
    padding-top: 10px;
}

#comment-details {
    padding-top: 10px;
    padding-bottom: 10px;
}

#comment-author,
#comment-body {
    padding-bottom: 5px;
}

#delete-comment a {
    color: black;
}

/* Log In/Out Form Styling */

.logon-out {
    display: block;
    padding-top: 100px;
    height: 100vh;
    background-color: #55828B;

}

#logon {
    height: 100vh;
    padding-top: 100px;
} 

.form-input {
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
    padding: 10px;
    width: 80%;
}

.form-input:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
}

label {
    padding: 10px;
}

.login-btn,
.reg-btn {
    margin: 10px;
    height: 30px;
    width: 75px;
    border-radius: 5px;
    background-color: black;
    color: #ff5400;    
}

.login-btn {
    width: 50px;
}

#logform,
#regform {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 250px;
    border: 2px solid #ff5400;
    border-radius: 5px;
    box-shadow:0 0 10px rgba(255,84,0,0.5);
    align-items: center;
    margin:auto;
    justify-content: center
}

/* Registration Form Styling */

.reg-btn {
    width: 150px;
}

#reg-btn {
    display: flex;
    justify-content: center;
}

#register {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #55828B;
}

.register-input-group {
    padding: 5px;
}


#not-reg,
#already-reg,
#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20 px;
}

#not-reg h3,
#already-reg h3 {
    padding: 20px;
}

#not-reg a:hover,
#already-reg a:hover {
    color: #ff5400;
}

/* Create Thread styling */

#create-thread {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #55828B;
    padding-top: 40px;
}

#new-thread {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.create-input-group {
    padding: 5px;
}

.formtitle,
.formdescription,
.formsubject {
    color: black;
}

.formsubject {
    height: 30px;
}
.formtitle {
    width: 300px;
}

select option {
    color: black;
    padding-top: 10px;
}

.create-submit input {
    margin: 10px;
    height: 30px;
    width: 75px;
    border-radius: 5px;
    background-color: black;
    color: #ff5400; 
}

input[class^="formsubject"] {
    color: black;
}

/* Delete Confirmation styling */

#delete-confirm {
    height: 100vh;
    display: flex;
}

.delete-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #55828B;
    width: 100vw;
}

#form-delete {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#form-delete h2 {
    text-align: center;
}

#form-delete a {
    margin-top: 10px;
}

#form-delete input {
    margin-top: 10px;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    background-color: black;
    color: #ff5400; 
}

#success {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #364958;
    border: 2px solid #ff5400;
    border-radius: 25px;
    width: 80%;
    padding: 10px
}

#create-success {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

#create-success p,
#delete-success p {
    padding-bottom: 10px;
}

#delete-success {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
    text-align: center;
    padding: 20px;
}


/* Footer styling */

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 75px;
    padding: 10px 5px;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

.social-icons i:hover,
.copyright a:hover {
    color: #ff5400;
}

.copyright {
    text-align: center;
}

.copyright a {
    text-decoration: none;
}


/* Media Query for smaller mobiles - Screens under 395 px wide */

@media screen and (max-width: 395px) {

    #navbar {
        height: auto;
    }

    .search-bar {
        display: flex;
        order: 3;
        width: 100%;
    }

    #homepage,
    #open-threads {
        padding-top: 125px;
    }

    #create-thread {
        padding-top: 300px;
    }

}

/* Media Query for smaller mobiles - Screens under 716 px wide */

@media screen and  (min-width: 395px) and (max-width: 716px) {

    #navbar {
        height: auto;
    }

    #homepage,
    #open-threads {
        padding-top: 175px;
    }

    #log-status {
        width: 25%;
    }

}


/* Media Queries  - Screens over 800 px wide */

@media screen and (min-width: 800px) {

    #open-threads {
        flex-direction: row;
    }

    .thread-container {
        padding-left: 20px;
    }

    .droners {
        padding-right: 20px;
    }

}

/* Media Queries  - Screens over 900 px wide */

@media screen and (min-width: 900px) {

    .subject-filter-btn {
        display: none;
    }

    #home-wrapper {
        display: grid;
        grid-template-columns: 20% 60% 20%;
    }

    #subject-filter,
    #activity-thread {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #subject-filter,
    #activity-thread {
        padding: 5px;
        border: 2px solid #ff5400;
        border-radius: 5px;
        box-shadow:0 0 10px rgba(255,84,0,0.5);
        height: fit-content;
    }

    .subject-filter h3 {
        padding-top: 10px;
    }

    .posts {
        padding: 5px 10px 5px 20px;
    }

    #activity-details {
        padding: 5px 0 5px 0;
    }

    #activity-details p {
        padding-bottom: 5px;
    }

}
