<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Drone Digest</title>
</head>
<body>

    <header>
        <nav></nav>
            <div id="navbar">

                <div id="logo">

                    <a href="/"><h1>Drone Digest</h1></a>

                </div>

                <!--If statement to display log in or log out button depending on authenticated state-->

                <div id="log-status">

                    {% if request.user.is_authenticated %}

                        <h4>Hello {{request.user.username}}</h4>
                        <a href="{% url 'logout' %}"><h4>Log Out</h4></a>
                    
                    {% else %}

                        <a href="{% url 'signin' %}"><h4>Log In</h4></a>
                
                    {% endif %}

                </div>

                <!--Header Search Bar-->

                <div class="search-bar">

                    <form action="{% url 'homepage' %}" method="GET">
                        <input id="search" type="text" name="q" placeholder="Search forum...">
                    </form>
                
                </div>

            </div>
        </nav>

    </header>

<!--Loop to display flash message is user not authenticated-->

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}

    {% endblock %}

    <footer>
        <p>copyright and social links</p>
    </footer> 
    
    <script src="https://kit.fontawesome.com/bc577d1dcb.js" crossorigin="anonymous"></script>

    <script src="./static/js/script.js"></script>
</body>
</html>