<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone Digest</title>
</head>
<body>
    
    <header>
        <a href="/"><h1>Drone Digest Logo</h1></a>

        <!--If statement to display log in or log out button depending on authenticated state-->

        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"><h2>Log Out</h2></a>
        {% else %}
        <a href="{% url 'signin' %}"><h2>Log On</h2></a>
        {% endif %}


    </header>

<!--Loop to display flash message is user not authenticated-->

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}

    {% endblock %}

    <footer>
        <p>copyright and social links</p>
    </footer> 
    
</body>
</html>