<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script> 
    <title>Drone Digest</title>
</head>
<body>

    <header>
        <nav>
            <div id="navbar">

                <div id="logo">

                    <a href="/"><img src="{% static 'images/drone-digest-logo.png' %}" alt="Drone Digest Logo"></a>

                </div>

                <!--Header Search Bar-->

                <div class="search-bar">

                    <form action="{% url 'homepage' %}" method="GET">
                        <input id="search" type="text" name="q" placeholder="Search forum...">
                    </form>
                
                </div>

                <!--If statement to display log in or log out button depending on authenticated state-->

                <div id="log-status">

                    {% if request.user.is_authenticated %}

                        <h4>Hello {{request.user.username}}</h4>
                        <a href="{% url 'logout' %}"><h4>Log Out</h4></a>
                    
                    {% else %}

                        <a href="{% url 'signin' %}"><h4>Log In</h4></a>
                
                    {% endif %}

                </div>

                
            </div>
        </nav>

    </header>

<!--Loop to display flash message is user not authenticated-->

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}

    {% endblock %}

    <footer>
        <div class="social-icons">
            <div><a href="https://www.facebook.com/" target="_blank" rel="noopener"
                aria-label="Visit our Facebook Page (Opens in a new window)"><i class="fab fa-facebook-square"></i></a></div>
            <div><a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Visit our Twitter Feed (Opens in a new window)"><i
                class="fab fa-twitter-square"></i></a></div>
            <div><a href="https://www.instagram.com/" target="_blank" rel="noopener"
                aria-label="Visit our Instagram Feed (Opens in a new window)"><i class="fab fa-instagram-square"></i></a></div>
        </div>

        <div class="copyright">
            <p><a href="https://github.com/Chris-McGonigle"  target="_blank" rel="noopener"
                aria-label="Visit our Github profile">&copy; Chris McGonigle 2022</a></p>
        </div>
    </footer> 
    
    <script src="https://kit.fontawesome.com/bc577d1dcb.js" crossorigin="anonymous"></script>

    <script src="{% static 'js/script.js' %}"></script>
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
</body>
</html>