{% extends 'base.html' %}

{% block content %}

    <div id="delete-confirm">

        <div class="delete-holder">

            <form id="form-delete" method="POST" action="">
                {% csrf_token %}
                <h2>Are you sure you want to delete "{{obj}}"?</h2>
                <a href="{{request.META.HTTP_REFERER}}">No, Go Back!</a>
                <input type="submit" value="Yes, I'm sure!" onclick="openSuccessDelete()">

            </form>

        </div>    
    
    </div>

{% endblock %}