{% extends 'base.html' %}

{% block content %}

<!--Temporary styling-->

<style>
    #home-wrapper {
        display: grid;
        grid-template-columns: 15% 85%;
    }
</style>

<h1>Homepage Template</h1>

<a href="{% url 'new-thread' %}"><h2>Create Thread</h2></a>


<div id="home-wrapper">

    <!--Sidebar to filter threads by subject-->

    <div id="subject-filter">
        <h2>Filter by Subject</h2>

    </div>

    <div id="thread-window">

        <!--Loop to display threads-->
        {% for thread in threads %}
            <div>
                <h2><a href="/threads/{{thread.id}}">{{thread.name}}</a></h2>
            </div>
            <div>Author: {{thread.author}}</div>
            <div>Subject: {{thread.subject}}</div>

            <!--If statement to hide update and delete thread buttons if user is not thread author-->

            {% if request.user == thread.author %}
            <div><a href="{% url 'update-thread' thread.id %}">Edit Thread</a></div>
            <div><a href="{% url 'delete-thread' thread.id %}">Delete Thread</a></div>
            {% endif %}
            
        {% endfor %}     
    </div> 
</div>     

{% endblock %}