{% extends 'base.html' %}

{% block content %}

<div id="homepage">

    <div class="mobile-buttons">
        
        <div class="subject-filter-btn">

            <button type="button" id="mobile-browse-btn" onclick="openBrowse()">Browse Subjects</button>

        </div>

        <div class="recent-activity-btn">

            <button type="button" id="mobile-activity-btn" onclick="openActivity()">Recent Activity</button>

        </div>

    </div>

    <!--Variable to display total number of threads-->

    <div class="thread-info">

        <div id="thread-counter">
            <h3>{{thread_total}} open threads</h3>
        </div>

        <!--Button to create new thread-->
        
        <div class="create-thread"></div>
            <a href="{% url 'new-thread' %}"><button type="button">Create Thread</button></a>
        </div>
    
    </div>
        

    <div id="home-wrapper">

        <!--Sidebar to filter threads by subject-->

        <div id="subject-filter">
            <h2 class="subject-filter">Filter by Subject</h2>

            <div class="subject-filter">
                    <h3><a href="{% url 'homepage' %}">All</a></h3>
            </div>

            <!--Loop to display sujects-->
            <div class="subject-filter">
                {% for subject in subjects %}
                    <h3 id="subjectbtn" onclick="closeBrowse()"><a href="{% url 'homepage' %}?q={{subject.subject}}">{{subject.subject}}</a></h3>
                {% endfor %}
            </div>
        </div>

        <div id="thread-window">
            

            <!--Loop to display threads-->
            {% for thread in threads %}
                <div class="posts">

                    <div class="post-title">
                        <h2><a href="/threads/{{thread.id}}">{{thread.name}}</a></h2>
                    </div>

                    <div class="post-detail">
                        <p>Author: {{thread.author}}</p>
                        <p>Subject: {{thread.subject}}</p>
                        <p>Created: {{thread.created}}</p>
                        <br>
                        <p>{{thread.description}}</p>
                    </div>
                

                    <!--If statement to hide update and delete thread buttons if user is not thread author-->

                    {% if request.user == thread.author %}
                    <div><a href="{% url 'update-thread' thread.id %}">Edit Thread</a></div>
                    <div><a href="{% url 'delete-thread' thread.id %}">Delete Thread</a></div>
                    {% endif %}

                </div>
                
            {% endfor %}  

        </div> 

        <!--Displays recent forum activity-->

        <div id="activity-thread">

            <h2>Recent Activity</h2>
            <hr>

            
            {% for comment in comments %}

            <div id="activity-details">
                <p><small>{{comment.author}} {{comment.created|timesince}}</small></p>
                <p><small>replied in "{{comment.thread}}"</small></p>
                <p><small>{{comment}}</small></p>
                <hr>
            </div>

            {% endfor %}

        </div>
    </div>
</div>     

{% endblock %}