{% extends 'base.html' %}

{% block content %}

<div id="homepage">

    <div class="buttons">
        
        <div class="subject-filter-btn">

            <button type="button" id="mobile-browse-btn" onclick="openBrowse()">Browse Subjects</button>

        </div>

         <!--Button to create new thread-->
        
        <div class="create-thread">

            <a href="{% url 'new-thread' %}"><button type="button" id="create-thread-btn">Create Thread</button></a>

        </div>

    </div>

    <!--Variable to display total number of threads-->

    <div class="thread-info">

        <div id="thread-counter">
            <h3>{{thread_total}} open threads</h3>
        </div>
    
    </div>
        

    <div id="home-wrapper">

        <!--Sidebar to filter threads by subject-->

        <div id="subject-filter">
            <h2 class="subject-filter">Filter by Subject</h2>
            <hr>

            <div class="subject-filter">
                    <h4><a href="{% url 'homepage' %}">All</a></h4>
            </div>

            <!--Loop to display sujects-->
            <div class="subject-filter">
                {% for subject in subjects %}
                    <h4 id="subjectbtn" onclick="closeBrowse()"><a href="{% url 'homepage' %}?q={{subject.subject}}">{{subject.subject}}</a></h4>
                {% endfor %}
            </div>
        </div>

        <div id="thread-window">
            

            <!--Loop to display threads-->
            {% for thread in threads %}
                <div class="posts">

                    <div class="post-title">
                        <h2><a href="/threads/{{thread.id}}">{{thread.name}}</a></h2>
                    </div>

                    <div class="post-detail">
                        <p>Author: {{thread.author}}</p>
                        <p>Subject: {{thread.subject}}</p>
                        <p>Created: {{thread.created}}</p>
                        <br>
                        <p>{{thread.description|safe}}</p>
                    </div>
                

                    <!--If statement to hide update and delete thread buttons if user is not thread author-->

                    {% if request.user == thread.author %}
                    <div class="thread-option"><a href="{% url 'update-thread' thread.id %}">Edit Thread</a></div>
                    <div class="thread-option"><a href="{% url 'delete-thread' thread.id %}">Delete Thread</a></div>
                    {% endif %}

                </div>
                
            {% endfor %}  

        </div> 

        <!--Displays recent forum activity-->

        <div id="activity-thread">

            <div id="activity-header">
                <div>
                    <h2>Recent Activity</h2>
                    <hr>
                </div>

            
            {% for comment in comments %}

            <div id="activity-details">
                <p><small>{{comment.author}} - {{comment.created|timesince}} ago</small></p>
                <p><small>replied in "{{comment.thread}}"</small></p>
                <p><small>{{comment}}</small></p>
                <hr>
            </div>

            {% endfor %}

        </div>
    </div>

    <!--Create, edit and delet success confirmation windows-->

    <div id="success">

        <div id="create-success">

            <p>Congratulations, you have created a new thread</p>

            
            <button id="close-btn" onclick="closeWindow()" aria-label="Close">Close Window</button>

        </div>


        <div id="delete-success">

            <p>Congratulations, you have deleted a thread</p>

            <button id="close-btn" onclick="closeWindow()" aria-label="Close">Close Window</button>

        </div>


    </div>
</div>

{% endblock %}

<script src="https://kit.fontawesome.com/bc577d1dcb.js" crossorigin="anonymous"></script>
