{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div id="create-thread">

    <div id="new-thread">

        <form method="POST" action="/">
            {% csrf_token %}

        <div id="thread-subject" class="create-input-group">    
           
            <p>Select a subject:</p>
            <p>{% render_field form.subject class="formsubject" %}</p>

        </div>    

        <div id="thread-title" class="create-input-group">    
           
            <p>Thread Title:</p>
            <p>{% render_field form.name class="formtitle" %}</p>

        </div>

        <div id="thread-description" class="create-input-group">    
           
            <p>Thread Description:</p>
            <p>{% render_field form.description class="formdescription" %}</p>

        </div>

        <div class="create-submit">

            <input type="submit" value="Submit" onclick="openSuccessCreate()">

        </div>

        </form>

    </div>

</div>

{% endblock %}