{% extends 'base.html' %}

{% block content %}

{% if page == 'signin'%}

<div class="logon-out">

    <div>
        <form method="POST" action="">
            {% csrf_token %}

            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Enter your Username">

            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter your Password">
        
        <input type="submit" value="Log In">

        </form>

        <h3>Not yet a member?</h3>
        <a href="{% url 'register' %}">Register an account</a>
    </div>

    {% else %}

    <div>
        <form method="POST" action="">
            {% csrf_token %}

            {{form.as_p}}

        <input type="submit" value="Register Account">

        </form>

        <h3>Already a member?</h3>
        <a href="{% url 'signin' %}">Log In</a>

    </div>

</div>

{% endif %}

{% endblock %}