{% extends 'base.html' %}

{% block content %}

<h1>{{thread.name}}</h1>

<span>{{thread.description}}</span>

<div id="post-list">

    <h4>Comments</h4>
    <br>

<!--Loop to display all comments made under each thread-->

    {% for comment in comments %}

        <div>
            {% if request.user == comment.author %}
            <a href="{% url 'delete-comment' comment.id %}">Delete Comment</a>
            {{comment.author}} {{comment.created|timesince}} ago 
            {% endif %}
        </div>
        <br>
        <div>
            {{comment.body}}
        </div>
        <br>

    {% endfor %}
</div>

<!--Post comment input field only appears if user logged on-->

{% if request.user.is_authenticated %}

<div id="make-post">
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="post-body" placeholder="Join the conversation here">
    </form>
</div>

{% endif %}
    
{% endblock %}