{% extends 'base.html' %}

{% block content %}


<div id="open-threads">

    <div class="thread-container">
    
        <div class="thread-details">
        
            <h1>{{thread.name}}</h1>

            {{thread.description|safe}}

            <br>

            <span>Started by {{thread.author}} on {{thread.created}}</span>

        </div>

        <!--Post comment input field only appears if user logged on-->
        
        <div id="comment-input">

            {% if request.user.is_authenticated %}

                <div id="make-post">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <input class="comment-input" type="text" name="post-body" placeholder="Join the conversation here">
                    </form>
                </div>

            {% endif %}

        </div>

        <div id="post-list">

            <div id="comment-header">  

                <h2>Comments</h2>

            </div>
            

            <!--Loop to display all comments made under each thread-->

            {% for comment in comments %}

                <div id="comment-details">
                
                    <div id="comment-author">

                        {{comment.author}} - {{comment.created|timesince}} ago
                        
                    </div>

                    <div id="comment-body">
                        {{comment.body}}
                    </div>

                    <div id="delete-comment">

                        {% if request.user == comment.author %}
                        <a href="{% url 'delete-comment' comment.id %}">Delete Comment</a>
                        {% endif %}

                    </div>

                    <hr>

                
                </div>

            {% endfor %}
        </div>


    </div>

    
    <div class="droners">
        
        <h2>Droners</h2>
        <hr>

        <!--Loop to display thread participants-->
        
        <p><strong>OP - {{thread.author}}</strong></p>

         {% for drone in droners %}

         <div>
             <p><strong>{{drone.username}}</strong></p>
         </div>
         
         {% endfor %}

    </div>

</div>
    
{% endblock %}