{% extends 'base.html' %}

{% block content %}

<!--Temporary styling-->

<style>
    #open-threads {
        display: grid;
        grid-template-columns: 80% 20%;
    }
</style>

<div id="open-threads">

    <div class="thread-container">
    
        <div class="thread-details">
        
            <h1>{{thread.name}}</h1>

            <p>{{thread.description}}</p>

            <br>

            <span>Started by {{thread.author}} on {{thread.created}}</span>

        </div>

        <div id="post-list">

            <h2>Comments</h2>
            <br>

            <!--Loop to display all comments made under each thread-->

            {% for comment in comments %}

            <div>
                {% if request.user == comment.author %}
                <a href="{% url 'delete-comment' comment.id %}">Delete Comment</a>
                {% endif %}

                {{comment.author}} {{comment.created|timesince}} ago
                
            </div>
            <br>
            <div>
                {{comment.body}}
            </div>
            <br>

            {% endfor %}
        </div>

        <!--Post comment input field only appears if user logged on-->

        {% if request.user.is_authenticated %}

        <div id="make-post">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="post-body" placeholder="Join the conversation here">
            </form>
        </div>

        {% endif %}

    </div>

    
    <div class="droners">
        
        <h2>Droners</h2>
        <hr>

        <!--Loop to display thread participants-->
        
        <p><strong>OP - {{thread.author}}</strong></p>

         {% for drone in droners %}

         <div>
             <p><strong>{{drone.username}}</strong></p>
         </div>
         
         {% endfor %}

    </div>

</div>
    
{% endblock %}